[Install]
WantedBy=multi-user.target

[Unit]
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=3s
ExecStartPre=-/usr/bin/docker pull krispharper/nginx:krispharper.com
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStart=/usr/bin/docker run \
      --rm \
      -p 80:80 \
      -p 443:443 \
      -v /etc/letsencrypt:/etc/letsencrypt \
      -v /etc/apache2/.htpasswd:/.htpasswd:ro \
      --name nginx \
      --link wordpress:wordpress \
      krispharper/nginx:krispharper.com
ExecStop=/usr/bin/docker stop nginx
