[Install]
WantedBy=multi-user.target

[Unit]
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=3s
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill wordpress
ExecStartPre=-/usr/bin/docker rm wordpress
ExecStartPre=-/usr/bin/docker pull wordpress:4.7.3-php5.6-apache
ExecStart=/usr/bin/docker run \
      --rm \
      --name wordpress \
      --link mysql:mysql \
      -e WORDPRESS_DB_USER=${WORDPRESS_DB_USER} \
      -e WORDPRESS_DB_PASSWORD=${WORDPRESS_DB_PASSWORD} \
      wordpress:4.7.3-php5.6-apache
ExecStop=/usr/bin/docker stop wordpress

